In [ ]:
##import pandas as pd
##dados = pd.read_csv("C:/Users/Matheus/OneDrive/Documents/MySQL/Dados/produtos.csv")
##dados

   ID                  Nome   Preco   Categoria
0   1        Notebook Gamer  5500.0  Eletrônico
1   2        Mouse Wireless   150.0  Periférico
2   3      Teclado Mecânico   350.0  Periférico
3   4  Monitor 24 Polegadas   900.0  Eletrônico
4   5         Cadeira Gamer  1200.0       Móvel